<div class="content">
  <div class="container">
    <div class="title">
      <h1>Crear Usuario</h1>
    </div>
    <div class="form">
      <form [formGroup]="formCreateUser" (submit)="onSubmit()">
        <div class="campu">
          <label for="nombre">Nombres</label>
          <input
            formControlName="nombre"
            autocomplete="off"
            name="nombre"
            id="nombre"
            required
          />
          <ul *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
            <li>* El nombre es obligatorio</li>
          </ul>
        </div>
        <div class="campu">
          <label for="apellido">Apellidos</label>
          <input
            formControlName="apellido"
            name="apellido"
            id="apellido"
            autocomplete="off"
            required
          />
          <ul *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
            <li>* El apellido es obligatorio</li>
          </ul>
        </div>
        <div class="campu">
          <label for="tipoDocumento">Tipo de documento</label>
          <select
            name="tipoDocumento"
            id="tipoDocumento"
            formControlName="tipoDocumento"
          >
            <option value="cedulaCiudadania">Cédula de ciudadanía</option>
            <option value="cedulaExtranjeria">Cédula de extranjería</option>
            <option value="pasaporteColombiano">Pasaporte colombiano</option>
            <option value="pasaporteExtranjero">Pasaporte extranjero</option>
            <option value="documentoVenezolano">
              Documento nacional de identificacion venezolana
            </option>
          </select>
        </div>
        <div class="campu">
          <div class="role">
            <label for="rol">Rol</label>
            <i class="fas fa-user-plus pointer" (click)="createRole()"></i>
          </div>
          <select name="rol" id="rol" formControlName="rol">
            <option *ngFor="let rol of roles" value="{{ rol._id.$oid }}">
              {{ rol.role }}
            </option>
          </select>
        </div>
        <div class="campu">
          <label for="documento">Documento</label>
          <input
            formControlName="documento"
            name="documento"
            autocomplete="off"
            id="documento"
            required
          />
          <ul
            *ngIf="documento.invalid && (documento.dirty || documento.touched)"
          >
            <li>* Debe tener 8 ó 10 caracteres</li>
            <li>* Solo se permiten números</li>
          </ul>
        </div>
        <div class="campu">
          <label for="telefono">Telefono</label>
          <input
            formControlName="telefono"
            name="telefono"
            autocomplete="off"
            id="telefono"
            required
          />
          <ul *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">
            <li>* Debe tener 7 ó 10 caracteres</li>
            <li>* Solo se permiten números</li>
          </ul>
        </div>
        <div class="campu">
          <label for="correo">Correo</label>
          <input
            autocomplete="off"
            formControlName="correo"
            name="correo"
            autocomplete="off"
            id="correo"
            required
          />
          <ul *ngIf="correo.invalid && (correo.dirty || correo.touched)">
            <li>* El correo es obligatorio</li>
          </ul>
        </div>
        <button [disabled]="formCreateUser.invalid" type="submit">
          Crear usuario
          <i *ngIf="loading" class="fas fa-spinner fa-pulse fa-fw"></i>
        </button>
      </form>
    </div>
  </div>
</div>
<app-modal-role *ngIf="create" (isClosed)="createRole($event)">
</app-modal-role>
