<div class="wrapper_alert" (click)="onClick($event)">
  <div class="alert_container">
    <h2 (click)="close()" class="pointer">
      <i class="fas fa-times fa-fw"></i>
    </h2>
    <h1>Crear una actividad</h1>
    <div class="form">
      <form [formGroup]="formCreateActivity" (submit)="onSubmit()">
        <div class="row">
          <div class="campu">
            <label for="nombre">Nombre</label>
            <input formControlName="name" name="name" id="name" required />
            <ul *ngIf="name.invalid && (name.dirty || name.touched)">
              <li>* El nombre es obligatorio</li>
            </ul>
          </div>
          <div class="campu">
            <label for="place">Lugar</label>
            <input formControlName="place" name="place" id="place" required />
            <ul *ngIf="place.invalid && (place.dirty || place.touched)">
              <li>* El lugar es obligatorio</li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="campu">
            <label for="date">Fecha</label>
            <input
              formControlName="date"
              name="date"
              id="date"
              type="date"
              required
            />
            <ul *ngIf="date.invalid && (date.dirty || date.touched)">
              <li>* La fecha es obligatoria</li>
            </ul>
          </div>
          <div class="campu">
            <label for="hour">Hora</label>
            <input
              formControlName="hour"
              name="hour"
              type="time"
              min="8:00"
              max="18:00"
              id="hour"
              required
            />
            <ul *ngIf="hour.invalid && (hour.dirty || hour.touched)">
              <li>* la hora es obligatoria</li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="campu">
            <label for="nombre">Riesgo</label>
            <select name="risk" id="risk" formControlName="risk">
              <option value="">Selecione</option>
              <option value="academico">Academico</option>
              <option value="individual">Individual</option>
              <option value="institucional">Insititucional</option>
              <option value="economico">Economico</option>
            </select>
            <ul *ngIf="risk.invalid && (risk.dirty || risk.touched)">
              <li>* El riesgo es obligatorio</li>
            </ul>
          </div>
          <div class="campu">
            <label for="nombre">Nivel</label>
            <select name="riskLevel" id="riskLevel" formControlName="riskLevel">
              <option value="">Seleccione</option>
              <option value="sin riesgo">Sin riesgo</option>
              <option value="leve">Leve</option>
              <option value="moderado">Moderado</option>
              <option value="critico">Critico</option>
            </select>
            <ul
              *ngIf="
                riskLevel.invalid && (riskLevel.dirty || riskLevel.touched)
              "
            >
              <li>* El nivel es obligatorio</li>
            </ul>
          </div>
        </div>
        <button [disabled]="formCreateActivity.invalid" type="submit">
          Crear
        </button>
      </form>
    </div>
  </div>
</div>
