<app-navbar></app-navbar>
<div class="title"><h1>Listado de Materias por Semestre</h1></div>
<div class="wrapper">
  <div class="semesters">
    <select (change)="showSemesterCourse($event)">
      <option
        *ngFor="let semestre of semesters; index as j"
        value="{{ j + 1 }}"
      >
        Semestre {{ semestre.nombre }}
      </option>
    </select>
  </div>

  <div class="courses" *ngFor="let semestre of semesters">
    <!-- (click)="showCoursesGroups(course.codigo)" -->
    <div class="course" *ngFor="let course of semestre.cursos; index as i">
      <div class="name_course">
        <i class="fas fa-book book_course"></i>
        <h4>{{ course.nombre }}</h4>
        <i class="fas fa-chevron-down arrow"></i>
        <i class="fas fa-chevron-up arrow"></i>
      </div>
    </div>
  </div>
</div>

<!-- <ng-container *ngFor="let group of groups">
        <div *ngIf="course.mostrar" class="groups">
          <a href="">
            Grupo {{ group.grupo }} - {{ group.nombredocente }}
            {{ group.apellidodocente }}
          </a>
        </div>
      </ng-container> -->
