<app-navbar></app-navbar>
<div class="title"><h1>Listado de Materias por Semestre</h1></div>
<div class="wrapper">
  <div class="semesters">
    <select (change)="showSemesterCourse($event)">
      <option *ngFor="let semestre of semestres" value="{{ semestre.nombre }}">
        Semestre {{ semestre.nombre }}
      </option>
    </select>
  </div>
  <div class="courses">
    <div
      class="course"
      *ngFor="let course of courses; index as i"
      (click)="showCoursesGroups(course.codigo)"
    >
      <div class="name_course" (click)="showGroups(i)">
        <i class="fas fa-book book_course"></i>
        <h4>{{ course.nombre }}</h4>
        <i class="fas fa-chevron-down arrow" *ngIf="!course.mostrar"></i>
        <i class="fas fa-chevron-up arrow" *ngIf="course.mostrar"></i>
      </div>

      <ng-container *ngFor="let group of groups">
        <div *ngIf="course.mostrar" class="groups">
          <a href="">
            Grupo {{ group.grupo }} - {{ group.nombredocente }}
            {{ group.apellidodocente }}
          </a>
        </div>
      </ng-container>
    </div>
  </div>
</div>
