<app-navbar></app-navbar>
<div class="title"><h1>Listado de Materias por Semestre</h1></div>
<div class="wrapper">
  <div class="accordion">
    <div class="item">
      <input type="checkbox" name="accordion" id="item-1" />
      <label for="item-1">Semester I</label>
      <div class="item_course">
        <input type="checkbox" name="accordion" id="item_course-1" />
        <label for="item_course-1">Fundamento de programacón </label>
        <div class="group">
          <h5>Grupo A - Oscar Gallardo</h5>
          <i class="fas fa-eye"></i>
        </div>
        <div class="group">
          <h5>Grupo B - Matias Herrera</h5>
          <i class="fas fa-eye"></i>
        </div>
      </div>
      <div class="item_course">
        <input type="checkbox" name="accordion" id="item_course-2" />
        <label for="item_course-2">Introduccion a la ingenieria </label>
        <div class="group">
          <h5>Grupo A - Matias Herrera</h5>
          <i class="fas fa-eye"></i>
        </div>
        <div class="group">
          <h5>Grupo B - Maira Pilar</h5>
          <i class="fas fa-eye"></i>
        </div>
      </div>
    </div>
    <div class="item">
      <input type="checkbox" name="accordion" id="item-2" />
      <label for="item-2">Semester II</label>
      <div class="item_course">
        <input type="checkbox" name="accordion" id="item_course-3" />
        <label for="item_course-3">Programacion orientada Objeto </label>
        <div class="group">
          <h5>Grupo A</h5>
          <i class="fas fa-eye"></i>
        </div>
        <div class="group">
          <h5>Grupo B</h5>
          <i class="fas fa-eye"></i>
        </div>
      </div>
      <div class="item_course">
        <input type="checkbox" name="accordion" id="item_course-4" />
        <label for="item_course-4">Introduccion a la ingenieria </label>
        <div class="group">
          <h5>Grupo A - Matias Herrera</h5>
          <i class="fas fa-eye"></i>
        </div>
        <div class="group">
          <h5>Grupo B - Maira Pilar</h5>
          <i class="fas fa-eye"></i>
        </div>
      </div>
    </div>
    <div class="item">
      <input type="checkbox" name="accordion" id="item-3" />
      <label for="item-3">Semester III</label>
      <div class="item_course">
        <input type="checkbox" name="accordion" id="item_course-5" />
        <label for="item_course-5">Estructura de datos </label>
        <div class="group">
          <h5>Grupo A</h5>
          <i class="fas fa-eye"></i>
        </div>
        <div class="group">
          <h5>Grupo B</h5>
          <i class="fas fa-eye"></i>
        </div>
      </div>
      <div class="item_course">
        <input type="checkbox" name="accordion" id="item_course-6" />
        <label for="item_course-6">Introduccion a la ingenieria </label>
        <div class="group">
          <h5>Grupo A - Matias Herrera</h5>
          <i class="fas fa-eye"></i>
        </div>
        <div class="gorup">
          <h5>Grupo B - Maira Pilar</h5>
          <i class="fas fa-eye"></i>
        </div>
      </div>
    </div>
    <div class="item">
      <input type="checkbox" name="accordion" id="item-4" />
      <label for="item-4">Semester IV</label>
      <div class="item_course">
        <input type="checkbox" name="accordion" id="item_course-7" />
        <label for="item_course-7">Estructura de datos </label>
        <div class="group">
          <h5>Grupo A</h5>
          <i class="fas fa-eye"></i>
        </div>
        <div class="group">
          <h5>Grupo B</h5>
          <i class="fas fa-eye"></i>
        </div>
      </div>
      <div class="item_course">
        <input type="checkbox" name="accordion" id="item_course-8" />
        <label for="item_course-8">Introduccion a la ingenieria </label>
        <div class="group">
          <h5>Grupo A - Matias Herrera</h5>
          <i class="fas fa-eye"></i>
        </div>
        <div class="gorup">
          <h5>Grupo B - Maira Pilar</h5>
          <i class="fas fa-eye"></i>
        </div>
      </div>
    </div>
    <div class="item">
      <input type="checkbox" name="accordion" id="item-5" />
      <label for="item-5">Semester V</label>
      <div class="item_course">
        <input type="checkbox" name="accordion" id="item_course-9" />
        <label for="item_course-9">Estructura de datos </label>
        <div class="group">
          <h5>Grupo A</h5>
          <i class="fas fa-eye"></i>
        </div>
        <div class="group">
          <h5>Grupo B</h5>
          <i class="fas fa-eye"></i>
        </div>
      </div>
      <div class="item_course">
        <input type="checkbox" name="accordion" id="item_course-10" />
        <label for="item_course-10">Introduccion a la ingenieria </label>
        <div class="group">
          <h5>Grupo A - Matias Herrera</h5>
          <i class="fas fa-eye"></i>
        </div>
        <div class="gorup">
          <h5>Grupo B - Maira Pilar</h5>
          <i class="fas fa-eye"></i>
        </div>
      </div>
    </div>
    <div class="item">
      <input type="checkbox" name="accordion" id="item-6" />
      <label for="item-6">Semester VI</label>
      <div class="item_course">
        <input type="checkbox" name="accordion" id="item_course-11" />
        <label for="item_course-11">Estructura de datos </label>
        <div class="group">
          <h5>Grupo A</h5>
          <i class="fas fa-eye"></i>
        </div>
        <div class="group">
          <h5>Grupo B</h5>
          <i class="fas fa-eye"></i>
        </div>
      </div>
      <div class="item_course">
        <input type="checkbox" name="accordion" id="item_course-12" />
        <label for="item_course-12">Introduccion a la ingenieria </label>
        <div class="group">
          <h5>Grupo A - Matias Herrera</h5>
          <i class="fas fa-eye"></i>
        </div>
        <div class="gorup">
          <h5>Grupo B - Maira Pilar</h5>
          <i class="fas fa-eye"></i>
        </div>
      </div>
    </div>
    <div class="item">
      <input type="checkbox" name="accordion" id="item-3" />
      <label for="item-3">Semester VII</label>
      <div class="item_course">
        <input type="checkbox" name="accordion" id="item_course-5" />
        <label for="item_course-5">Estructura de datos </label>
        <div class="group">
          <h5>Grupo A</h5>
          <i class="fas fa-eye"></i> <i class="fas fa-eye"></i>
        </div>
        <div class="group">
          <h5>Grupo B</h5>
          <i class="fas fa-eye"></i> <i class="fas fa-eye"></i>
        </div>
      </div>
      <div class="item_course">
        <input type="checkbox" name="accordion" id="item_course-6" />
        <label for="item_course-6">Introduccion a la ingenieria </label>
        <div class="group">
          <h5>Grupo A - Matias Herrera</h5>
          <i class="fas fa-eye"></i> <i class="fas fa-eye"></i>
        </div>
        <div class="gorup">
          <h5>Grupo B - Maira Pilar</h5>
          <i class="fas fa-eye"></i> <i class="fas fa-eye"></i>
        </div>
      </div>
    </div>
    <div class="item">
      <input type="checkbox" name="accordion" id="item-4" />
      <label for="item-4">Semester VIII</label>
      <div class="item_course">
        <input type="checkbox" name="accordion" id="item_course-7" />
        <label for="item_course-7">Estructura de datos </label>
        <div class="group">
          <h5>Grupo A</h5>
          <i class="fas fa-eye"></i> <i class="fas fa-eye"></i>
        </div>
        <div class="group">
          <h5>Grupo B</h5>
          <i class="fas fa-eye"></i> <i class="fas fa-eye"></i>
        </div>
      </div>
      <div class="item_course">
        <input type="checkbox" name="accordion" id="item_course-8" />
        <label for="item_course-8">Introduccion a la ingenieria </label>
        <div class="group">
          <h5>Grupo A - Matias Herrera</h5>
          <i class="fas fa-eye"></i> <i class="fas fa-eye"></i>
        </div>
        <div class="gorup">
          <h5>Grupo B - Maira Pilar</h5>
          <i class="fas fa-eye"></i> <i class="fas fa-eye"></i>
        </div>
      </div>
    </div>
    <div class="item">
      <input type="checkbox" name="accordion" id="item-5" />
      <label for="item-5">Semester IX</label>
      <div class="item_course">
        <input type="checkbox" name="accordion" id="item_course-9" />
        <label for="item_course-9">Estructura de datos </label>
        <div class="group">
          <h5>Grupo A</h5>
          <i class="fas fa-eye"></i> <i class="fas fa-eye"></i>
        </div>
        <div class="group">
          <h5>Grupo B</h5>
          <i class="fas fa-eye"></i> <i class="fas fa-eye"></i>
        </div>
      </div>
      <div class="item_course">
        <input type="checkbox" name="accordion" id="item_course-10" />
        <label for="item_course-10">Introduccion a la ingenieria </label>
        <div class="group">
          <h5>Grupo A - Matias Herrera</h5>
          <i class="fas fa-eye"></i> <i class="fas fa-eye"></i>
        </div>
        <div class="gorup">
          <h5>Grupo B - Maira Pilar</h5>
          <i class="fas fa-eye"></i> <i class="fas fa-eye"></i>
        </div>
      </div>
    </div>
    <div class="item">
      <input type="checkbox" name="accordion" id="item-6" />
      <label for="item-6">Semester X</label>
      <div class="item_course">
        <input type="checkbox" name="accordion" id="item_course-11" />
        <label for="item_course-11">Estructura de datos </label>
        <div class="group">
          <h5>Grupo A</h5>
          <i class="fas fa-eye"></i>
        </div>
        <div class="group">
          <h5>Grupo B</h5>
          <i class="fas fa-eye"></i>
        </div>
      </div>
      <div class="item_course">
        <input type="checkbox" name="accordion" id="item_course-12" />
        <label for="item_course-12">Introduccion a la ingenieria </label>
        <div class="group">
          <h5>Grupo A - Matias Herrera</h5>
          <i class="fas fa-eye"></i>
        </div>
        <div class="gorup">
          <h5>Grupo B - Maira Pilar</h5>
          <i class="fas fa-eye"></i>
        </div>
      </div>
    </div>
  </div>
</div>
