.suggestion_container {
  margin-top: 48px;
}

.suggestion_options {
  margin: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid var(--gray-dark-color);
  border-bottom: 2px solid var(--gray-dark-color);
  padding: 8px 16px;
}

.suggestion_options .actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.suggestion_options .actions i {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 16px;
}

.loading {
  margin-top: 16px;
}

.suggestion_options i {
  cursor: pointer;
  color: var(--dark-color);
  font-size: 18px;
}

.suggestion_options > i {
  color: var(--red-primary-color);
}

.table {
  max-width: 100%;
  overflow-x: scroll;
  margin: 16px;
  text-align: center;
}

table {
  border-collapse: collapse;
}

th {
  font-weight: bold;
}

th,
td {
  padding: 8px;
}

table thead tr {
  background: var(--gray-menu);
}

table tbody tr {
  cursor: pointer;
}

.selection {
  background: var(--red-primary-color);
  color: white;
}

label {
  display: table-row;
}

.pagination {
  margin: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.pagination a {
  border: 1px solid var(--red-primary-color);
  color: var(--red-primary-color);
  border-radius: 5px;
  font-size: 18px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 8px;
  text-align: center;
}

.pagination a:hover,
.page_active {
  color: white !important;
  background: var(--red-primary-color);
}

/* Desktop */

@media (min-width: 1152px) {
  .suggestion_container {
    margin-top: 80px;
  }

  .suggestion_options,
  .table,
  .pagination {
    margin: 32px auto;
    width: 60%;
  }
}
